@model IEnumerable<Shop.Models.Product>
@using Shop.Infrastructure
<style>
 
</style>
<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@Url.PicturesPath(product.NameFileImage)" alt="">
                <div class="caption">
                    <h4 class="pull-right">@product.PriceProduct PLN</h4>
                    <h4>
                        <a href="@Url.Action("BuyNow", "Cart", new { id=product.ProductId})" class="btn btn-primary">Buy Now!</a>

                        <a href="@Url.Action("Details", "Products", new { id = product.ProductId })">@product.Title</a>
                    </h4>
                    <p>@product.Company See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>

    }
   

    </div>
