@model Shop.ViewModels.HomeViewModel
@using Shop.Infrastructure

<!-- Custom CSS -->



@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/Carousel.css" rel="stylesheet" />


<!-- Add this css File in head tag
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
-->
<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->

<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="7000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">



        @{
            var j = 0;
            foreach (var news in Model.News)
            {
                var itemClass = j++ == 0 ? "item active" : "item";


        <!-- Third Slide -->
                <div class="@itemClass">
                    <!-- Slide Background -->
                    <img src="@Url.PicturesPath(news.NameFileImage)" alt="Slider" class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h1 data-animation="animated zoomInRight">@news.Title-@news.Company</h1>
                                <p data-animation="animated fadeInLeft">@news.ShortDescription</p>
                                <a href="@Url.Action("BuyNow", "Cart", new { id = news.ProductId })" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Buy Now</a>
                                <a href="@Url.Action("Details", "Products", new { id = news.ProductId })" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">More Info</a>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- End of Slide -->
                }
        }
    </div><!-- End of Wrapper For Slides -->





    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> <!-- End  bootstrap-touch-slider Slider -->
<!-- Bestsellery -->









<a name="services"></a>



    @foreach (var bestseller in Model.Bestsellers)
    {
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">@bestseller.Title <br>Special Thanks</h2>
                        <p class="lead">@bestseller.ShortDescription A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>

                        <a href="@Url.Action("BuyNow", "Cart", new { id=bestseller.ProductId})" class="btn btn-primary">Buy Now!</a>
                        <a href="@Url.Action("Details", "Products" , new { id = bestseller.ProductId })" class="btn btn-default">More Info</a>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img src="@Url.PicturesPath(bestseller.NameFileImage)" class="img-responsive" style="padding-top: 40px">
                    </div>
                </div>
            </div>
        </div>

    }

<!-- /.content-section-a 

                    <div class="col-md-6">
                        <h1></h1> <h3>A subtitle</h3>
                        <p>bestseller.ShortDescription</p>
                        <a href="Url.Action("BuyNow", "Cart", new { id=bestseller.ProductId})" class="btn btn-primary">Buy Now!</a>
                        <a href="Url.Action("MoreInfo", "Products" , new { id = bestseller.ProductId })" class="btn btn-default">More Info</a>

                    </div>-->





    <div class="container" style="padding-top:40px;">
        <div class="row">

            @foreach (var category in Model.Categories)
            {
                <div class="col-sm-4 col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="@Url.IconsCategoriesPath(category.NameFileIcon)" class="img-responsive" />
                            <!--       <span class="post-title">
                                      <b>Make a Image Blur Effects With</b><br />
                                      <b>CSS3 Blur</b>
                                  </span>

                            -->

                        </div>
                        <div class="content">
                            <div class="author">
                                By <b>Bhaumik</b> |
                                <time datetime="2014-01-20">January 20th, 2017</time>
                            </div>
                            <div>
                                @category.DescriptionCategory

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div>
                                <a href="@Url.Action("List", "Products", new {nameCategory = category.NameCategory.ToLower() })" class="btn btn-warning btn-sm" style="margin-top: 5px;">@category.NameCategory</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
